<template>
    <div>
        <h3>{{ name }}</h3>
        <p><em>{{ description }}</em></p>
        <p v-for="ingredient in ingredients" :key="ingredient.name">{{ adjustMeasurements(ingredient.amount) }} of {{ ingredient.ingredient.ingredientName }}</p>
        <!--<button @click="addToList">Add to list</button> -->
        <b-button @click="addToList">Add to list</b-button>
    </div>
</template>
<script>
    import {eventBus} from '../../main'
    export default {
        props: ['id', 'name', 'description'],
        data: function() {
            return {
                ingredients: null
            }
        }, 
        methods: {
            getCocktail(newid) {
                const URL = eventBus.endpoint + '/getingredientsforcocktail/' + newid
                fetch(URL).then(
                        response => {
                            return response.json()
                        }
                    ).then(
                        result => {
                            this.ingredients = result
                        }
                    )
            },
            adjustMeasurements(amount){
                if (amount % 1000 === 0) {
                    return amount / 1000 + ' liters'
                } else if (amount % 100 === 0) {
                    return amount / 100 + ' deciliters'
                } else if (amount % 10 === 0) {
                    return amount / 10 + ' centiliters'
                } else {
                    return amount + ' mililiters'
                } 
            },
            addToList(){
                //eventBus.addDrinkToList(this.id)
                this.$store.commit('addChosen', this.id)
            }
        },
        watch: {
            id: function() {
                this.getCocktail(this.id)
            }
        },
        created: function() {
            const URL = eventBus.endpoint + '/getingredientsforcocktail/' + this.id
            fetch(URL).then(
                    response => {
                        return response.json()
                    }
                ).then(
                    result => {
                        this.ingredients = result
                    }
                )
        }
        
    }
</script>
<style scoped>


</style>