<template>
    <div id=logo>
      <a href="/#/"><img alt="Drinkspiration_logo" src="../../assets/Mylogo_fixed.png"></a>
    </div>
</template>
<script>
    export default {
        
    }
</script>
<style scoped>
  #id {
    width: 50%;
    margin: auto;
  }

  img {
    max-width: 100%;
  }
</style>