<template>
    <div>

        <b-form inline class="wrapper">
            <label class="sr-only" for="inline-form-input-name">Name</label>
            <b-input :disabled=enterCocktail
            id="inline-form-input-name"
            class="mb-2 mr-sm-2 mb-sm-0"
            placeholder="Name"
            v-model="cocktailName"
            ></b-input>
            <b-input :disabled=enterCocktail
            id="inline-form-input-name"
            class="mb-2 mr-sm-2 mb-sm-0"
            placeholder="Description"
            v-model="cocktailDescription"
            ></b-input>
            <b-button class=four :disabled=enterCocktail @click="addCocktail">Save</b-button>
        </b-form >
            <b-form inline class="wrapper">
                <b-input :disabled=isActive
                id="inline-form-input-name"
                class="mb-2 mr-sm-2 mb-sm-0"
                placeholder="Ingredients"
                v-model="ingredient"
                ></b-input>
                <b-input :disabled=isActive input type="number" 
                id="inline-form-input-name"
                class="mb-2 mr-sm-2 mb-sm-0"
                placeholder="Amount"
                v-model="amount"
                ></b-input>
                <b-form-select :disabled="isActive" v-model="unit" :options="options"></b-form-select>     
                <b-button  :disabled=isActive @click="addtoIngredientList">Add ingridient to list</b-button>
            </b-form>
        <p class="titel">  {{ cocktailName }} </p>
        <p v-for="ingredientlist in ingredients" :key="ingredientlist.cocktailName"> {{ingredientlist.ingridientName}} - {{ingredientlist.amount}} {{ingredientlist.unit}} </p>
            <b-button class="saveButton" :disabled=isActive @click="saveIngredients">Save all ingredients to {{ cocktailName }}</b-button>
        <p v-if="cocktailName === ' '">  {{ saveMessage }} </p>
    </div>
</template>
<script>
import {eventBus} from '../main'
export default {
    data: function() {
        return {      
            amount : 0,
            cocktailName: '',
            result: '',
            cocktailDescription: '',
            ingredient: '',
            ingredients: [],
            enterCocktail: false,
            isActive: true,
            unit: 'ml',
            saveMessage: '',
            cocktailID: '',
            options: [
          { value: 'ml', text: 'ml' },
          { value: 'cl', text: 'cl' },
          { value: 'dl', text: 'dl' },
          { value: 'l', text: 'l' },
            ]
            }
        },  
         methods: {
             addCocktail(){
                 fetch(eventBus.endpoint + '/addcocktail', {
                     body: JSON.stringify({name: this.cocktailName, description: this.cocktailDescription }),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'POST'
                    }).then(response => {
                        return response.json()
                    }).then( result => {
                        this.cocktailID = result
                    })
             this.isActive = false
             this.enterCocktail = true
             },
             addtoIngredientList(){
                    this.ingredients.push({"ingridientName" : this.ingredient, "unit" : this.unit, "amount" : this.amount})
                    fetch( eventBus.endpoint + '/addingredient', {
                     body: JSON.stringify({ingredientName: this.ingredient }),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'POST'
                    }).then(function (response) {
                        return response.json()
                    }).then(function (data) {
                       this.result = data
                    }).catch (function (error)
                    {
                        error
                    })
             },
             saveIngredients(){
                 for(let i = 0; i < this.ingredients.length; i++){
                    this.saveIngredientsToCocktail(this.ingredients[i].amount, this.ingredients[i].ingridientName, this.ingredients[i].unit)
                 }
                this.resetPage()
             },
             saveIngredientsToCocktail(amount, ingredient, unit){
                    fetch(eventBus.endpoint + '/addcocktailingredient', {
                     body: JSON.stringify({amount: amount, ingredient: ingredient, unit: unit, cocktailId: this.cocktailID.id }),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'POST'
                    }).then(function (response) {
                        return response.json()
                    }).then(function (result) {
                       this.result = result
                    }).catch (function (error)
                    {
                        error
                    })
             },
             resetPage(){
                 this.isActive = true
                 this.enterCocktail = false;
                 this.amount = 0
                 this.cocktailName = ' '
                 this.cocktailDescription = ''
                 this.ingredient = ''
                 this.ingredients = []
                 this.saveMessage = "You cocktail was saved"
             }
            },
         created: function(){
             
         }
}
</script>
<style scoped>
    p {
        padding: 0rem 2rem 0rem 3rem;
    }

    .titel {
        padding: 1rem 2rem 0rem 2rem;
        font-weight: bold;
    }
    .saveButton {
        margin: 0rem 1rem 0rem 1rem;
    }
    input {
        margin: 1rem 1rem 0rem 1rem;
    }
    select {
        margin: 1rem 1rem 0rem 1rem;
    }
    button {
        margin: 1rem 1rem 0rem 1rem;    
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50% 1fr 1fr;
    }
    .four {
        grid-column: 4;
    }
    

</style>