<template>
    
    <div class="center">
        <h3>All our cocktails</h3>
        <p v-for="drinks in cocktails" :key="drinks.id" @click="betterChoose(drinks)">
            <strong>
             {{ drinks.name }}
            </strong>
             - {{ drinks.description }}
             <app-cocktail v-if="name === drinks.name" :name="name" :description="description" :id="id"></app-cocktail>
        </p>
    </div>
</template>
<script>
    import {eventBus} from '../main'
    export default {
        data: function() {
            return {
                cocktails: [],
                name: null,
                description: null,
                id: null
            }
        }, 
        methods: {
            betterChoose(drink) {
                this.name = drink.name
                this.description = drink.description
                this.id = drink.id
            },
            getAllCocktails(){
                fetch( eventBus.endpoint + '/getAllCocktails').then(
                    response => {
                        return response.json()
                    }
                ).then(
                    result => {
                        this.cocktails = result
                    }
                )
            },
        },
        created: function() {
            fetch(eventBus.endpoint + '/getAllCocktails').then(
                    response => {
                        return response.json()
                    }
                ).then(
                    result => {
                        this.cocktails = result
                    }
                )
        }
    }
</script>
<style scoped>
    .center {
        margin-left: 10%;
    }

</style>