<template>
    <div>
        <h1>Whats for drinks?</h1>
        <div class="presenter">We know the feeling. The weekend is already here and you have nothing planned.
            Freat not. We have assembled some of our times greatest drink...thinkers to help you.
        </div>
        <img id="image" src="../assets/drinks.png" alt="Something tasty">

        <div class="presenter">
            Maybe you should try a Moscow Mule or an Adios Motherfucker. Even though it's not scientifically proven
            it's well known that a sufficient amout of Cosmopolitan will regrov lost hair.  
        </div>
    </div>
</template>
<script>
export default {
    
}
</script>
<style scoped>
    #image {
        max-width: 80%;
        margin-left: 10%;
    }

    .presenter {
        width: 80%;
        margin-left: 10%;
    }

    h1 {
        margin-left: 10%;
    }

</style>