<template>
    <div class="textStyle">
        <div v-if="ingredients.length > 0">
            <h3>Number of portions</h3>
            <input type="text" name="portions" v-model="noServings"  id="" placeholder=1>
            <div v-if="noServings<70">
                <h3>List of ingredients</h3>
                <p v-for="post in sumOfIngredients" :class="{ purchased : post.purchased }" :key=post.name>
                    <input type="checkbox" v-model="post.purchased">
                    <strong>{{post.ingredient}}</strong>, {{ adjustMeasurements(post.amount * noServings)}}
                </p>
                <h3>Based on theese drinks</h3>
                <p v-for="cocktail in currentCocktails" :key="cocktail.id">
                    <strong class="drinkname">{{cocktail.name}} </strong>
                    <!--<button @click="removeOneDrink(cocktail.id)">Remove</button>-->
                    <b-button size=sm @click="removeOneDrink(cocktail.id)" variant="outline-danger">Remove</b-button>
                </p>
            </div>
            <div v-else>
                <b-jumbotron bg-variant="danger" text-variant="white" border-variant="dark">
                    <template v-slot:header>  {{ noServings }} servings? Contact support on 020-84 44 48</template>
                </b-jumbotron>
            </div>
        </div>
        <div v-else>
            <h3>Ooops..you havent made any choices</h3>
            <p>If you search for a drink and add it to the list the ingredients will be visible here</p>
        </div>
    </div>
</template>
<script>
    import { eventBus } from '../main'
    export default {
        data: function() {
            return {
                ingredients: [],
                sumOfIngredients: [],
                currentCocktails: [],
                noServings: 1
            }
        }, 
        methods: {
            removeOneDrink(id) {
                this.$store.commit('removeChosen', id)
            },
            getIngredientsForDrinkIds(){
                this.ingredients = []
                this.sumOfIngredients = []
                for (let i = 0 ; i < this.listOfIds.length ; i++ ) {
                    const URL = eventBus.endpoint + '/getingredientsforcocktail/' + this.listOfIds[i]
                        fetch(URL).then(
                                response => {
                                    return response.json()
                                }
                            ).then(
                                result => {
                                    let currentlist = this.ingredients
                                    let additionallist = result
                                    this.ingredients = currentlist.concat(additionallist)
                            }
                        ).then( () => {
                            this.accumulateIngredients()
                        })
                }
                this.getChosenCocktails()
            },
            getChosenCocktails() {
                this.currentCocktails=[]
                for (let i = 0 ; i < this.listOfIds.length ; i++ ) {
                    const URL = eventBus.endpoint + '/getCocktailId/' + this.listOfIds[i]
                        fetch(URL).then(
                                response => {
                                    return response.json()
                                }
                            ).then(
                                result => {
                                    this.currentCocktails.push(result)
                            }
                        )
                }
            },
            accumulateIngredients() {
                this.sumOfIngredients = []
                for (let i = 0 ; i < this.ingredients.length; i++ ) {

                    let myIndex = this.sumOfIngredients.findIndex( obj => obj.ingredient == this.ingredients[i].ingredient.ingredientName)
                    if (myIndex < 0 ) {
                        this.sumOfIngredients.push({"ingredient": this.ingredients[i].ingredient.ingredientName, 
                                                    "amount": this.ingredients[i].amount,
                                                    "purchased" : false })
                    } else {
                        this.sumOfIngredients[myIndex].amount += this.ingredients[i].amount
                    }
               }
            },
            adjustMeasurements(amount){
                if (amount % 1000 === 0) {
                    return amount / 1000 + ' l'
                } else if (amount % 100 === 0) {
                    return amount / 100 + ' dl'
                } else if (amount % 10 === 0) {
                    return amount / 10 + ' cl'
                } else {
                    return amount + ' ml'
                } 
            },
        },
        computed: {
            listOfIds: function() {
                return this.$store.state.chosenDrinks
            }
        },
        watch: {
            listOfIds: function(){
                this.getIngredientsForDrinkIds()
            }
        },
        created: function() {
            this.getIngredientsForDrinkIds()
        }
    }
</script>
<style scoped>

    .textStyle {
        margin-left: 10%;
    }

    input[type=checkbox], .drinkname {
        margin-right: 1rem;
    }

    .purchased {
        text-decoration: line-through;
        color: lightgray;
    }

</style>