<template>
    <div>
      <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand><router-link class="router" to="/">Home</router-link></b-navbar-brand>


            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
                <b-nav-item><router-link class="router" to="/cocktails">Cocktails</router-link></b-nav-item>
                <b-nav-item><router-link class="router" to="/add">Add Cocktail</router-link></b-nav-item>
                <b-nav-item><router-link class="router" to="/random">Random</router-link></b-nav-item>
                <b-nav-item><router-link class="router" to="/list">List</router-link></b-nav-item>
                <b-nav-item><router-link class="router" to="/search">Search</router-link></b-nav-item>
            </b-navbar-nav>

            <!-- Right aligned nav items -->
            </b-collapse>
        </b-navbar>
        </div>
        <!--  Components Below                      -->
        <router-view></router-view>
    </div>
</template>
<script>
    export default {
        methods: {
            test(message) {
                alert(message)
            },
        }, 
        data: function(){
            return {

            }
        },
        components: {

        }
        
    }
</script>
<style scoped>
    .router{
        text-decoration: none;
        color: lightblue;
    }

    .router:hover {
        color:white;
    }
</style>