<template>
    <div class="textStyle">
        <b-button @click="getrandomcocktail">Yuw... give me another</b-button>
        <app-cocktail v-if="id !== null" :name="randomCocktail.name" :description="randomCocktail.description" :id="randomCocktail.id"></app-cocktail>     
    </div>
</template>
<script>
import {eventBus} from '../main'
export default {
    data: function() {
        return {      
             randomCocktail: null,
             id: null
            }
        },  
         methods: {
            getrandomcocktail() {
                fetch(eventBus.endpoint + '/getRandomCocktail').then(
                    response => {
                        return response.json()
                    }
                ).then(
                    result => {
                        this.randomCocktail = result
                        this.id = this.randomCocktail.id
                    })
         }
        },
        created: function() {
            this.getrandomcocktail()
        }
         
}
</script>
<style scoped>
    button {
        margin: 1rem 0rem 0rem 0rem;
    }

    .textStyle {
        margin-left: 10%;
    }
</style>