<template>
    <div>
        <div class="textStyle">  
            <h3>Enter name of drink</h3>
            <vue-suggestion :items="items" 
                            v-model="item" 
                            :setLabel="setLabel"
                            :itemTemplate="itemTemplate"
                            @changed="inputChange" 
                            @selected="itemSelected">
            </vue-suggestion>
        </div>
        <div class="textStyle">
            <app-cocktail v-if="item.id> 0" :name="item.name" :description="item.description" :id="item.id"></app-cocktail>
        </div>
    </div>
</template>
<script>
    import itemTemplate from './shared/item-template.vue'
    import {eventBus} from '../main'
    export default {
        data: function() {
            return {
                cocktails : [],
                item: {},
                items: [],
                itemTemplate,
            }
        },
        methods: {
            itemSelected (item) {
                this.item = item

            },
            setLabel (item) {
                return item.name;
            },
            inputChange (text) {
            this.items = this.cocktails.filter(item => item.name.toLowerCase().includes(text.toLowerCase()));
            },
        },
        computed: {
            name: function() {
                return this.item.name
            },
            description: function() {
                return this.item.description
            },
            id: function() {
                return this.item.id
            },
        },
        created() {
            fetch(eventBus.endpoint + '/getAllCocktails').then(
                    response => {
                        return response.json()
                    }
                ).then(
                    result => {
                        this.cocktails = result
                    }
                )
        }
        
    }
</script>
<style>
    .textStyle {
        margin-left: 10%;

    }

    .vs__list {
        box-shadow: 5px 5px 3px 3px grey;
        background-color: white;
        min-width: 15rem; 
    }

    .vs__input {
        min-width: 15rem;
        position: relative;
        z-index: 1;
    }

</style>