<template>
  <div id="app">
    <app-header></app-header>
    <app-navigation></app-navigation>
  </div>
</template>

<script>

import NavigationBar from './components/Navigation.vue'

export default{
  components: {
    'app-navigation': NavigationBar,
    }

}
</script>

<style>
  h3, h1 {
    padding: 2rem 0rem 1rem 0rem;
  }

</style>
